/* Base Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #660000;
  }

  @font-face {
    font-family: God;
    src: url(/MattCharleboisProject4/root/fonts/Godofwar-wPz6.ttf);
  }
  
  header {
    background-color: #ffffff;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  /* Navigation Styling with CSS Transitions */
  .main-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-family: God;
  }
  
  .main-nav a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: God;
  }
  
  .main-nav a:hover {
    color: #981B19;
  }
  
  /* Main Content */
  main {
    margin-top: 20px;
  }
  
  h1, h2 {
    margin-bottom: 15px;
    color: #FFFFFF;
    font-family: God;
    text-align: center;
  }
  
  p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #ffffff;
  }
  
  /* Image Gallery */
  .image-gallery {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .image-gallery img {
    object-fit: cover; /* Maintains aspect ratio and prevents distortion */
  }
  
  /* Footer Styling */
  footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: #555;
  }
  
  ul{
    color:#ffffff;
    text-align: center;
    
  }
  li {
    color: #ffffff;
    text-align: center;
  }
  
  